*{
    overflow: hidden;
}
body{
    background-color: black;
}

#progress{
    color:white;
    background-color: green;
    width: 1%;
    height: 30px;
}

#box{
    margin-left: 50%;
    margin-top:10%;
    position: absolute;
}


