*{
    user-select: none;
}

body{
    background-color: rgb(37, 37, 37);
}

#wriper{
    width: 100%;
    margin-top: 15%;
    background: none;
}

#start{
    color:white;
    background: none;
    position: flex;
    margin-top: 3%   ;
    margin-left: 42.5%;
    font-size: 50px;
    border: none;
    cursor: progress;
}

#name{
    color:white;
    font-size: 75px;
    position: flex;
    margin-left: 32%;
}

#made{
    color:white;
    position: flex;
    font-size: 25px;
    margin-left: 41%;
    margin-top: 5%;
}

#tutBtn{
    color:white;
    background: none;
    position: flex;
    margin-top: 3%   ;
    margin-left: 42.25%;
    font-size: 50px;
    border: none;
    cursor: progress;
}

#tutorial{
    color:white;
    background: none;
    position: flex;
    margin-top: 15%   ;
    margin-left: 35%;
    font-size: 30px;
    border:none;
}

#menuBtn{
    color:red;
    background: none;
    position: flex;
    margin-top: 3% ;
    font-size: 50px;
    border: none;
    margin-left: 35%;
    cursor: progress;
}

#videoDiv{
    width: 320;
    height: 200;
    margin-left: 2000000%;
}

#EndWrapper{
    width: 100%;
    margin-top: 20%;
    background: none;
    margin-left: -10%;
}

#end{ 
    color:white;
    background: none;
    position: flex;
    margin-top: 15%   ;
    margin-left: 35%;
    font-size: 30px;
    border:none;
}


